# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake build directories
build*

# MATLAB MEX files
*.mexw32
*.mexw64
*.mexmaci32
*.mexmaci64
